@import "vars";

html {
	scroll-behavior: smooth;
	scroll-padding-top: 0vw;
}

.body {
	font-size: 22px;
	line-height: 1.5;
	color: $main-text-color;
	font-family: 'Roboto', sans-serif;
	background: $background-color;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.main-services {
}

.header-hero__main {
	padding: 100px 0 84px 0;
}

.stock__main {
}

.program__main {
	background: #2E2E31;
	padding: 150px 0 83px;
}

.steps__main {
	padding: 103px 0 111px 0;
}

.projects__main {
	padding: 173px 0 117px;
}

.team__main {
	padding: 117px 0 135px;
}

.partners__main {
	background: #2E2E31;
}

.about-news__main {
	padding-top: 130px;
}
.news__main {
	padding-top: 130px;
}

.request__main {
	padding: 147px 0;
}

.container {
	max-width: $container;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.title {
	color: $main-text-color;
font-family: "Bebas Neue" sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 1.36;
letter-spacing: 0.5px;
text-transform: uppercase;
}

.button {
	text-align: center;
	background: $main-red-text-color;
	color: $main-text-color;
	font-size: 18px;
	font-weight: 400;
}

/* BURGER ========================================== */
.burger {
	display: none;
	cursor: pointer;
	width: 60px;
	height: 54px;
	align-items: center;
}
.burger__icon {
	position: relative;
	height: 2px;
	width: 40px;
	background: #fff;
	z-index: 30;
	margin: 0 auto;
}
.burger__icon::before {
	content: '';
	position: absolute;
	top: -10px;
	height: 2px;
	width: 40px;
	background: #fff;
	z-index: 30;
}
.burger__icon::after {
	content: '';
	position: absolute;
	top: 10px;
	height: 2px;
	width: 40px;
	background: #fff;
	z-index: 30;
}


/* MODAL ========================================== */

.modal {
	position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index:100;
	transition: all .4s;
	display: none;
}

.modal--show .modal{
	display: flex;
}


.modal__wrapper {
	position: relative;
	border-radius: 8px;
	background: #2E2E31;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
	padding: 66px 55px;
}
.modal__window {
	max-width: 665px;
	width: 100%;
	z-index: 10;
}

.modal__cancel {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}


.modal__info {
	margin-bottom: 30px;
}

.modal__info,
.modal__click {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.modal__info-name,
.modal__info-tel {
	width: 310px;
	height: 70px;
	border-radius: 6px;
	color: #9A9A9A;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.48px;
	padding-left: 20px;
}
.modal__btn {
	max-width: 310px;
	width: 100%;
	background: $main-red-text-color;
	border: none;
	height: 70px;
	cursor: pointer;
}
.modal__text {
	font-size: 16px;
	max-width: 310px;
}
.modal__text span{
	color: $main-red-text-color;
}

/* HEADER ========================================== */

/* Навигация ------------------- */

.header-top {
	padding: 15px 0 25px;
	border-bottom: 1px solid #E3E2E2;
}

.header-top__inner {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 4vh 75px;
}

.header__logo {
	max-width: 186px;
	z-index: 11;
	cursor: pointer;
	flex-shrink: 0;
}

.header__logo img {
	width: 100%;
}

.nav {

}
.nav__list {
	display: flex;
	gap: 35px;
}
.nav__item {
	
}
.nav__link {
	font-size: 20px;
	line-height: 1.35;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 0.2px;
	position: relative;

}

.nav__link::after {
	position: absolute;
	bottom: -27px;
	display: block;
	content: "";
	height: 3px;
	width: 0%;
	background: $main-red-text-color;
	transition: all .4s ease-in-out;
}

.nav__link:hover::after,
.nav__link:focus::after {
	width: 100%;
}

.nav__contacts {
	position: absolute;
	right: 0;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.nav__contacts a {
	font-size: 20px;
	font-weight: 500;
}

.header__button {
	position: absolute;
	bottom: -67px;
	right: 0;
	height: 40px;
	text-align: center;
	width: 250px;
	background: $main-red-text-color;
	color: $main-text-color;
	font-size: 18px;
	font-weight: 400;
	border-radius: 0px 0px 6px 6px;
}


/* header-hero ------------------- */

.header-hero {
}

.header-hero__inner {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: flex-end;
	gap: 73px;
}

.header-hero__info {
	display: flex;
	flex-direction: column;
	max-width: 424px;
	width: 100%;
	white-space: normal;
}


.header-hero__title {
	color: $main-text-color;
	font-family: 'Bebas Neue', sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	line-height: .97;
	letter-spacing: .7px;
	overflow: hidden;
}

.header-hero__text {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.36px;
	opacity: .7;
	max-width: 424px;
	margin: 25px 0 50px 0;
}
.header-hero__button {
	display: block;
	max-width: 400px;
	width: 100%;
	height: 70px;
	border-radius: 6px;
	margin-bottom: 60px;
	
}
.header-hero__slider {
	flex-shrink: 1;
	width: 100%;
}
.header-hero__wrapper {

}
.hero-slide {
	display: flex;
	gap: 22px;
	max-width: 870px;
	width: 100%;
	height: 517px;
	background-color: #d4d4d4;
	opacity: 1;
	text-align: center;
}

.hero-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.hero-slide__text {
	text-transform: uppercase;
	color: #FFF;
	font-family: "Bebas Neue" sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.33;
	letter-spacing: 0.3px;
	background: #0000004d;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.header-hero__slider-controls {
	margin-top: 27px;
	display: flex;
	justify-content: end;
	align-items: center;
	position: relative;
	opacity: 1;
}
.header-hero__slider-prev,
.header-hero__slider-next {
	display: flex;
	cursor: pointer;
}

.header-hero__slider-scrollbar {
	background: $main-text-color;
	z-index: 100;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: relative;
	top: 0;
	left: 0;
    z-index: 50;
    height: var(--swiper-scrollbar-size,4px);
    width: 254px;
	margin: 0 17px;
}

.swiper-scrollbar-drag {
	background: $main-red-text-color;
}


/* SERVICES ========================================== */

.services__menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 26px 29px;
	padding: 80px 0 156px 0;
}
.services__item {
	border-radius: 5px;
	border: 2px solid #464646;
	background: #191919;
	padding: 50px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	transition: all .4s;
}

.services__item-img {
	max-width: 90px;
	width: 100%;
}

.services__item:hover {
	border: 2px solid $main-red-text-color;
}
.services__item-text {
	font-weight: 500;
}


.services__discount {
	display: grid;
	grid-template-columns: repeat(4, 333px);
	padding-bottom: 160px;
	justify-content: center;
}
.services__discount-item {
	position: relative;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 19px;
	border-left: 1px solid #464646;
	border-bottom: 1px solid #464646;
	text-align: center;
}

.services__discount-item:last-child {
	border-left: 1px solid #464646;
	border-right: 1px solid #464646;
	border-bottom: 1px solid #464646;
	
}
.services__discount-item p{
	width: 262px;
	width: 100%;
	font-family: 'Bebas Neue', sans-serif;
	color: $main-text-color;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.28px;
	text-transform: uppercase;
}
.services__discount-item span{
	font-family: 'Bebas Neue', sans-serif;
	text-transform: uppercase;
	color: $main-red-text-color;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.28px;
}


/* STOCK ========================================== */

.stock {
	background: #171719;
}
.stock__inner {
	display: flex;
	align-items: center;
	gap: 114px;
}

.stock__info {
	max-width: 547px;
	width: 100%;
}

.stock__info-img {
	max-width: 218px;
}

.stock__info-img img {
	width: 100%;
}
.stock__info-content {
	display: flex;
	align-items: flex-end;
	gap: 15px;
	flex-shrink: 1;
}

.stock__info-content p {
	width: 247px;
	color: #A5A5A5;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.16px;
}
.stock__title {
	margin-top: 61px;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: 0.6px;
}

.stock__main-img {
	max-width: 1062px;
	height: auto;
}
.stock__main-img img{
	width: 100%;
}


/* PROGRAM ========================================== */


.program__main {
	padding: 150px 0 129px 0;

}

.parogram {
	display: flex;
	justify-content: space-between;
}

.program__inner {
	display: flex;
	justify-content: space-between;
	gap: 48px;
}

.tab-controls__item {
	display: flex;
	align-items: start;
	color: $main-text-color;
	font-family: "Bebas Neue" sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px; /* 100% */
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border-bottom: 1px solid #e3e2e24b;
	padding: 46px 0;
	cursor: pointer;
	width: 534px;
	transition: all .4s;
}
.tab-controls__link span{
	color: $main-red-text-color;
}

.tab-controls__item svg{
	display: none;
	fill: $main-red-text-color;
	flex-shrink: 0;
	margin-top: 9px;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	flex-shrink: 0;
}

.tab-controls__item .tab-controls__icon--active{
	display: block;
}


.accordion-content__item {
	display: none;
}
.tab-content {
	display: none;
}

.tab-content--show {
	display: block;
}

.accordion-list__item {
	border-left: 1px solid #e3e2e24b;
	border-bottom: 1px solid #e3e2e24b;
	border-right: 1px solid #e3e2e24b;
	margin-bottom: 0;
	width: 785px;
	padding: 31px 0px 31px 56px;
}

.accordion-list__item:last-child {
	margin-bottom: 0;
}

.accordion-list__control {
	cursor: pointer;
	color: $main-text-color;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 122.727% */
	letter-spacing: 0.22px;
	transition: all .4s;
}

.accordion-list__control-title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.accordion-list__control-title line {
	stroke: $main-text-color;
	transition: all .4s;
}


.accordion-list__control:hover {
	color: $main-red-text-color;
}

.accordion-list__control:hover .accordion-list__control-title line {
	stroke: $main-red-text-color;
}

.accordion-list__item--opened .accordion-list__control{
	padding-bottom: 20px;
	color: $main-red-text-color;
}

.accordion-list__item--opened .accordion-list__control-title line {
	stroke: $main-red-text-color;
}

.accordion-list__content {
	max-height: 0;
	overflow: hidden;
	transition: all .4s;
}


.accordion-content {
	padding: 30px 0 0 0;
	display: flex;
	width: 100%;
}
.accordion-content-col:first-child {
	max-width: 507px;
	width: 100%;
}
.accordion-content__title {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.36px;
	
}

.accordion-content__item {
	display: flex;
	align-items: flex-start;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.36px;
	width: 100%;
}

.accordion-content__item svg {
	
	margin: 5px 10px 0 10px;
	height: 15px;
	width: 15px;
	flex-shrink: 0;
}


.accordion-content__item:last-child {
	margin-bottom: 0;
}

.accordion-content__icon {
	height: 24px;
	width: 24px;
	border: 1px solid var(--accent-color-2);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	flex-shrink: 0;
}
.accordion-content__text {
	max-width: 274px;
}

/* STEPS ========================================== */
.steps__inner {
}
.steps__title span{
	color: $main-red-text-color;
}
.title {
}
.steps__content {
	display: flex;
	justify-content: space-around;
	padding: 80px 0 80px;
	gap: 40px;
}
.steps__item {
	position: relative;
	text-align: center;
	color: $main-red-text-color;
	font-family: "Bebas Neue" sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 68px; 
	letter-spacing: 0.5px;
}

.steps__item-arrow {
	margin-top: -80px;
}

.steps__item-info {
	color: $main-text-color;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 27px;
	letter-spacing: 0.22px;
}
.steps__item-info span{
	color: $main-red-text-color;
}
.main__button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	max-width: 320px;
	height: 70px;
	border: 2px solid #F5F5F5;
	border-radius: 6px;
	background: none;
	transition: all .4s;
}
.main__button:hover{
	color: $main-text-color;
	background: $main-red-text-color;
	border: 2px solid $main-red-text-color;
}

/* INFORMATION ========================================== */

.information__main {
	background: #2E2E31;
}
.information {
}

.information--black {
	background: #222224;
}

.information__title {
	max-width: 430px;
	padding-left: 111px;
	font-size: 40px;
	margin-bottom: 20px;
}

.information__subtitle {
	color: #A5A5A5;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; 
	letter-spacing: 0.36px;
	padding-left: 111px;
	max-width: 670px;
}

.information__inner {
	display: grid;
	grid-template-columns: 859px 1061px;
	gap: 0;
	justify-content: center;
}
.information__swiper {
	position: relative;
	max-width: 859px;
	right: 0;
	width: 100%;
}

.information__swiper-content {
}
.information__wrapper {
}
.swiper-wrapper {
	
}
.information__slide {
	display: flex;
	gap: 22px;
	background: #2daab3;
	color: #171719;
}
.information__slide img{
	width: 100%;
	height: 100%;
}
.swiper-slide {
}
.information__slide__text {
}
.information__slider-controls {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0000008f;
	z-index: 20;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}


.information__slider-prev {
	display: flex;
	align-items: center;
}
.information__slider-scrollbar {
	position: relative;
	top: 0;
}
.swiper-scrollbar {
	background: #ffffffb2;
}
.information__slider-next {
	display: flex;
	align-items: center;
}

.information__content {
	padding-top: 60px;
	flex-shrink: 0;
}

.information__tab-content .accordion-content-col {
	max-width: none;
}

.information__tab-content .accordion-list__item{
	border-left: none;
	border-right: none;
	padding-left: 111px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.16px;
}


.accordion-content__info {
	margin-top: 18px;
	border-left: 2px solid #fff;
	padding-left: 21px;
}

.information__link {
	color: $main-red-text-color;
	text-decoration: underline;
}

.information__button {
	margin-left: 111px;
	margin-top: 55px;
}

.accordion-list__control-icon {
	color: $main-text-color;
}

.accordion-list__control-icon path {
	stroke: $main-text-color;
	transition: all .4s;
}
.accordion-list__control-icon circle {
	stroke: $main-text-color;
	transition: all .4s;
	
}
.accordion-list__control-icon rect{
	stroke: $main-text-color;
	transition: all .4s;
}

.accordion-list__item--opened .accordion-list__control-icon path {
	stroke: $main-red-text-color;
}
.accordion-list__item--opened .accordion-list__control-icon rect {
	stroke: $main-red-text-color;
}
.accordion-list__item--opened .accordion-list__control-icon circle {
	stroke: $main-red-text-color;
}
.accordion-list__control-title:hover .accordion-list__control-icon path {
	stroke: $main-red-text-color;
}
.accordion-list__control-title:hover .accordion-list__control-icon rect {
	stroke: $main-red-text-color;
}
.accordion-list__control-title:hover .accordion-list__control-icon circle {
	stroke: $main-red-text-color;
}



/* PROJECTS ========================================== */

.projects {
	background: #2E2E31;
}

.projects__title {
}
.projects__filter-list {
	position: relative;
	display: flex;
	flex-flow: wrap;
	gap: 11px;
	padding-top: 65px;
}
.projects__link {
	border: 1px solid $main-text-color;
	font-size: 14px;
	padding: 8px 36px;
	border-radius: 6px;
	transition: all .4s;
}
.projects__link:hover {
	border: 1px solid $main-red-text-color;
	color: $main-red-text-color;
}
.projects__link--active {
	border: 1px solid $main-red-text-color;
	background: $main-red-text-color;
}
.projects__link--active:hover{
	color: $main-text-color;
}

.projects__link--reset {
	font-size: 14px;
	border: none;
	color: $main-red-text-color;
	background: none;
	padding: 8px 36px;
}


.projects__content {
	padding-top: 36px;
	display: grid;
	grid-template-columns: repeat(2, 668px);
	gap: 30px;
	justify-items: stretch;
}
.projects__item {
	height: 400px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.projects__item:first-child img{
	transform: scaleX(-1);
	
}
.projects__item--large-right {
	height: auto;
	grid-column: -1/-2;
	grid-row: span 2;
}
.projects__item--large-left {
	height: auto;
	grid-column: 1/2;
	grid-row: span 2;
}

.projects__item-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.projects__item img{
	width: 100%;
	filter: grayscale(100%); 
	transition: all .4s;
}
.projects__item-info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 23px 0 23px 40px;
	transition: all .4s;
}

.projects__item-name {
	font-family: "Bebas Neue" sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;

}
.projects__item-link {
	border: 1px solid $main-text-color;
	font-size: 16px;
	padding: 3px 16px;
	border-radius: 6px;
	transition: all .4s;
	margin-right: 11px;
	width: fit-content;
	opacity: 0;
}

.projects__item:hover .projects__item-info {
	background: #0000009c;
}
.projects__item:hover .projects__item-link {
	opacity: 1;
}
.projects__item:hover.projects__item img{
	filter: none;
}

.projects__button {
	margin: 49px auto 123px;
}

.projects__subinfo {
}
.projects__subinfo-title {
}
.projects__subinfo-main {
	display: flex;
	gap: 44px;
	justify-content: space-between;
}
.projects__subinfo-text {
	width: 1064px;
}
.projects__subinfo-avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	padding-left: 60px;
	border-left: 2px solid $main-red-text-color;
}
.projects__subinfo-avatar img{
	background: #797979;
	border-radius: 50%;
}
.projects__subinfo-name {
	margin-top: 25px;
font-family: "Bebas Neue" sans-serif;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 107.143% */
letter-spacing: -0.28px;
text-transform: uppercase;
}

.projects__subinfo-subname {
	font-size: 16px;
}


/* TEAM ========================================== */

.team__inner {
}
.team__title span{
	color: $main-red-text-color;
}
.team__subtitle {
	margin-top: 20px;
}
.team__content-list {
	margin-top: 98px;
	display: grid;
	grid-template-columns: repeat(4, 319px);
	gap: 30px;
	row-gap: 59px;
	justify-items: stretch;
	align-items: end;
}
.team__content-item {
	width: 100%;
}
.team__content-img {
	width: 100%;
}
.team__content-img img{
	width: 100%;
}

.team__item-info {
	padding: 20px 33px;
	text-align: center;
	background: #2E2E31;
	border-top: 1px solid $main-red-text-color;
}
.team__item-info span{
	color: $main-red-text-color;
}

/* PROGRAM2 ========================================== */

.program2__main {
	background: #2E2E31;
	padding: 126px 0 93px;
}
.program2 {
}
.program2__inner {
	display: flex;
	gap: 56px;
}
.program2__tab-controls {
	max-width: 486px;
	width: 100%;
}
.program2__tab-item {
	border-bottom: 1px solid #e3e2e24b;
	padding: 46px 0;
	color: $main-text-color;
	font-family: "Bebas Neue" sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: flex;
	gap: 10px;
}
.program2__tab-item:last-child{
	border-bottom: none;
}
.program2__tab-item span {
	color: $main-red-text-color;
}
.program2__tab-item svg {
	fill: $main-red-text-color;
	height: 30px;
	width: 30px;
	flex-shrink: 0;
	margin-top: 8px;
}


.program-controls__icon {
	display: none;
}
.program-controls__icon svg{
	fill: #ea4c14;
}

.program-controls__icon--active {
	display: block;
}

.program2__tab-content {
	border-left: 1px solid #e3e2e24b;
	border-bottom: 1px solid #e3e2e24b;
	padding-left: 60px;
	padding-bottom: 106px;
	display: none;
	max-width: 777px;
}
.program2__tab-content li{
	list-style-type: disc;
}

.program2__tab-content--show {
	display: block;
}

.program2__tab-content-text {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
	margin: 30px 0 30px;
}
.program2__tab-content-text span{
	color: $main-red-text-color;
}

.program2__tab-content-subtext {
	padding-left: 19px;
	color: $main-red-text-color;
	border-left: 1px solid $main-red-text-color;
	margin-left: 50px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
}

.program2__tab-content-textlink {
	display: flex;
	gap: 7px;
	align-items: center;
	color: $main-red-text-color;
	text-decoration: underline;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
	margin-top: auto;
}

.program2__tab-content-textlink img {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}

.program2__tab-content-sublink {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* PARTNERS ========================================== */

.partners__inner {
}

.partners__content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.partners__title {
	margin-bottom: 58px;
}
.partners__item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #e3e2e24b;
	height: 200px;
	cursor: pointer;
	transition: all .4s;
}
.partners__item:hover{
	border: 1px solid $main-red-text-color;
	background: #222224;
}
.partners__img {
}

/* ABOUT US NEWS ========================================== */
.about-news {
	background: #2E2E31;
}
.about-news__inner {
}
.about-news__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 61px;
}
.title {
}
.about-news__navigation {
	display: flex;
}
.about-news__slider-prev {
	border: 1px solid #e3e2e24b;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	cursor: pointer;
	transition: all .4s;
}
.about-news__slider-next {
	border: 1px solid #e3e2e24b;
	display: flex;
	align-items: center;
	padding: 25px;
	cursor: pointer;
	transition: all .4s;
}

.about-news__slider-prev line{
	transition: all .4s;
}
.about-news__slider-prev line{
	transition: all .4s;
}
.about-news__slider-prev:hover line{
	stroke: $main-red-text-color;
}
.about-news__slider-next:hover line{
	stroke: $main-red-text-color;
}
.about-news__swiper {
}
.about-news__slide {
	display: flex;
	gap: 30px;
}
.about-news__item {
	border: 1px solid #e3e2e24b;
	max-width: 321px;
	width: 100%;
	text-align: center;
	padding: 43px;
	transition: all .4s;
}

.about-news__item:hover {
	background: $main-red-text-color;
}


.about-news__item-info {
	margin: 41px 0 65px;
}
.about-news__item-btn {
	display: flex;
	gap: 15px;
	width: fit-content;
	margin: 0 auto;
	cursor: pointer;
}

.about-news__nav-info {
	margin-top: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-news__pagination {
	position: relative;
	width: 10%;
	text-align: right;
	color: #9DA0A3;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px; /* 180% */
	bottom: 0;
}
/* NEWS ========================================== */
.news {
	background: #2E2E31;
}
.news__inner {
}
.news__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 61px;
}
.title {
}
.news__navigation {
	display: flex;
}
.news__slider-prev {
	border: 1px solid #e3e2e24b;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	cursor: pointer;
	transition: all .4s;
}
.news__slider-next {
	border: 1px solid #e3e2e24b;
	display: flex;
	align-items: center;
	padding: 25px;
	cursor: pointer;
	transition: all .4s;
}

.news__slider-prev line{
	transition: all .4s;
}
.news__slider-prev line{
	transition: all .4s;
}
.news__slider-prev:hover line{
	stroke: $main-red-text-color;
}
.news__slider-next:hover line{
	stroke: $main-red-text-color;
}
.news__swiper {
}
.news__slide {
	display: flex;
	gap: 30px;
}
.news__item {
	max-width: 321px;
	width: 100%;
	transition: all .4s;
}
.news__item img{
	margin-bottom: 20px;
}

.news__date {
	color: #9DA0A3;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
	letter-spacing: -0.42px;
}

.news__item-info {
	margin-bottom: 20px;
	color: $main-text-color;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px; /* 150% */
	margin-top: 20px;
}
.news__item-btn {
	display: flex;
	gap: 15px;
	width: fit-content;
	cursor: pointer;
}
.news__item-btn img{
	margin: 0;
}

.news__nav-info {
	margin-top: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news__pagination {
	position: relative;
	width: 10%;
	text-align: right;
	color: #9DA0A3;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px; /* 180% */
	bottom: 0;
}

/* REQUEST ========================================== */

.request {
	background: #2E2E31;
}
.request__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.request__title {
	font-size: 40px;
}
.request__button {
	max-width: 390px;
	width: 100%;
	margin-top: 51px;
	background: $main-red-text-color;
	border: none;
}
.request__button:hover {

	border: none;
}

/* FOOTER ========================================== */

.footer {
	background: #070707;
	border-top: 1px solid $main-red-text-color;
}
.footer__inner {
	padding: 100px 0 65px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
}
.footer__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__nav-list {
	display: flex;
	gap: 80px;
}
.footer__nav-item {
}
.footer__nav-link {
}
.footer__info-main {
	margin-top: 66px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer__info-direction {
	display: flex;
	align-items: center;
	margin-bottom: 55px;
}
.footer__info-direction-text {
}
.footer__info-direction-link {
	font-family: "Roboto" sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
	margin-left: 41px;
	color: $main-red-text-color;
	text-decoration: underline;
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	text-align: end;
	font-size: 20px;
}
.footer__contacts-tel {
	margin-bottom: 14px;
}
.footer__contacts-mail {
	margin-bottom: 44px;
}
.footer__contacts-politic {
	text-decoration: underline;
	color: $main-red-text-color;
}
.footer__copyright{
	padding: 23px 0;
	border-top: 2px solid #e3e2e24b;
	font-size: 18px;
}


/* MEDIA =================================== */
/* MEDIA =================================== */
/* MEDIA =================================== */
/* MEDIA =================================== */
/* MEDIA =================================== */
/* MEDIA =================================== */


@media(max-width: 1300px) {

	.information__inner {
		grid-template-columns: repeat(1, 1fr);
	}


	.information__title.title{
		max-width: none;
	}

	.accordion-list__item {
		width: 100%;
	}
	.information__button {
		margin: 63px auto;
		
	}

	.team__main {
		display: none;
	}

	/* ------------------ */

	.projects__content {
		grid-template-columns: repeat(1, 1fr);
	}

	/* ------------------ */
	.about-news {
		display: none;
	}
	/* ------------------ */
	.news {
		display: none;
	}

}

@media (max-width: 1200px) {
	.header-top__inner {
		justify-content: flex-end;
		gap: 30px;
	}
	.nav {
		display: none;
	}

	.burger {
		display: flex;
		right: 0;
	}

	.nav__contacts {
		position: relative;
		right: 0;
	}

	.header__logo {
		position: absolute;
		left: 0;
	}

	.body--opened-menu .nav{
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #2E2E31;
		z-index: 90;
		justify-content: center;
		align-items: center;
	}

	.body--opened-menu .burger {
		position: absolute;
		z-index: 100;
		right: 20px;
		right: 20px;
		top: 20px;
	}
	.body--opened-menu .burger__icon {
		transform: rotate(45deg);
	}
	.body--opened-menu .burger__icon::before {
		transform: rotate(90deg);
		top: 50%;
	}
	.body--opened-menu .burger__icon::after {
		display: none;
	}

	.nav__list {
		flex-direction: column;
		text-align: center;
		gap: 50px;
	}

	.nav__link {
		font-size: 40px;
		font-weight: 700;
	}
	.nav__link::after {
		content: "";
	}

	.nav__link:hover::after,
	.nav__link:focus::after {
	width: 0%;
	}

	/* ------------------ */

	.services__menu {
		grid-template-columns: repeat(2, 1fr);
		gap: 26px;
	}

	.services__discount {
		grid-template-columns: repeat(2, 1fr);
	}

	.services__discount-item:nth-child(2) {
		border-right: 1px solid #464646;
	}

	/* ------------------ */

	.stock__inner {
		justify-content: center;
	}

	.stock__main-img {
		display: none;
	}
	
	/* ------------------ */

	.stock__info-content {
		margin-top: 60px;
	}

	/* ------------------ */
	.program__main {
		display: none;
	}

	.steps__main {
		display: none;
	}
	/* ------------------ */
	.partners__content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	/* ------------------ */
	.footer__nav-list {
		gap: 30px;
	}

}
@media (max-width: 900px) {

	.modal__wrapper {
		margin: 0 30px;
	}

	.modal__info,
	.modal__click {
		flex-direction: column;
	}

	.header-hero__inner {
		flex-direction: column;
	}

	.header-hero__info {
		max-width: none;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.header-hero__slider-controls {
		justify-content: center;

	}
	.header-hero__slider-prev,
	.header-hero__slider-next {
		display: none;
	}

	/* ------------------ */

	.services__menu {
		grid-template-columns: repeat(1, 1fr);
		gap: 26px;
		padding: 40px 0 40px 0;
	}



	.services__item {
		justify-content: center;
	}

	.services__discount {
		grid-template-columns: repeat(1, 1fr);
		padding-bottom: 40px;
	}

	.services__discount-item {
		border-left: 1px solid #464646;
		border-bottom: 1px solid #464646;
		border-right: 1px solid #464646;
	}

	.services__discount-item p {
		font-size: 20px;
	}

	/* ------------------ */

	.stock__title {
		font-size: 40px;
	}

	.stock__inner {
		text-align: center;
	}

	.stock__info-content {
		justify-content: center;
	}

	/* ------------------ */

	.information__swiper {
		max-width: 94vw;
	}

	.information__tab-content .accordion-list__item {
		padding-left: 20px;
	}

	.information__title {
		padding-left: 20px;
		font-size: 25px;
	}

	.information__subtitle {
		padding-left: 20px;
	}

	.projects__subinfo-main {
		flex-direction: column;
	}

	.projects__subinfo-text {
		width: 100%;
		font-size: 16px;
	}

	.projects__subinfo-avatar {
		border-left: none;
		border-top: 2px solid $main-red-text-color;
		padding: 40px 0 0 0;
		justify-content: center;

	}

	.projects__button {
		margin-bottom: 40px;
	}

	/* ------------------ */

	.program2__main {
		padding: 0 0 40px;
	}

	.program2__inner {
		flex-direction: column;
		gap: 10px;
	}

	.program2__tab-controls {
		display: flex;
		justify-content:space-between;
		text-align: center;
		max-width: none;
		gap: 10px;
		
	}

	.program2__tab-link {
		font-size: 30px;
		
	}

	.program2__tab-item svg {
		display: none;
	}

	.program2__tab-item {
		border: none;
		padding: 0;
		line-height: 30px;
	}

	.program2__tab-content {
		border: none;
		padding: 15px;
	}
	/* ------------------ */
	.partners__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	/* ------------------ */
	.footer__nav-list {
		display: none;
	}
	.footer__nav img{
		margin: 0 auto;
	}

	.footer__info-main {
		flex-direction: column;
		align-items: center;
	}
	/* ------------------ */
}

@media (max-width: 600px) {

	.header-top__inner {
		justify-content: flex-end;
		gap: 30px;
	}

	.nav__contacts {
		position: relative;
	}

	.header-hero__inner {
		row-gap: 20px;
	}

	/* ------------ */

	.stock__info-content {
		flex-direction: column;
		align-items: center;
	}

	/* ------------ */

	.stock__title {
		font-size: 30px;
		line-height: 42px;
	}

	/* ------------ */

	.accordion-content-col img {
		display: none;
	}
	/* ------------ */

	.program2__tab-item {
		line-height: 20px;
	}

	.program2__tab-link {
		font-size: 20px;
	}

	/* ------------ */

	.partners__inner {
		display: none;
	}
}

@media (max-width: 450px) {

	.modal__wrapper {
		padding: 50px 30px;
	}

	.modal__info,
	.modal__click {
		max-width: 250px;
	}

	.modal__info-name,
	.modal__info-tel {
		max-width: 250px;
	}

	.nav__contacts {
		display: none;
	}

	.nav__link {
		font-size: 30px;
	}

	.header-hero__title {
		font-size: 40px;
	}


	.hero-slide {
		height: 210px;
	}

	/* ---------------- */

	.services__title {
		text-align: center;
		font-size: 40px;
	}

	.services__menu {
		row-gap: 13px;
		padding: 20px 0 60px;
	}

	.services__discount-item p{
		font-size: 20px;
	}

	/* ---------------- */

	.stock__title {
		font-size: 25px;
		line-height: 42px;
	}

	.stock__title {
		margin-top: 20px;
	}

	/* ---------------- */

	.information__title {
		font-size: 20px;
	}

	.information__subtitle {
		padding-left: 16px;
	}

	.accordion-list__control-title {
		font-size: 16px;
	}

	/* ---------------- */

	.projects__main {
		padding-bottom: 40px;
	}

	.projects__item-name {
		font-size: 18px;
	}

	.projects__item-link {
		font-size: 13px;
	}
	/* ---------------- */

	.program2__tab-item {
		line-height: 20px;
	}

	.program2__tab-link {
		font-size: 16px;
	}

	/* ---------------- */

	.footer__info-direction {
		flex-direction: column;
		align-items: flex-end;
	}
}



@media (max-width: 350px) {
	.header-hero__title {
		font-size: 35px;
	}
}